.company-outstanding{
    padding: 20px 16px 20px;
   &__item{
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    padding: 12px;
    .img-box{
        border: 1px solid #f7f7f7;
        border-radius: 5px;
        height: 48px;
        -o-object-fit: contain;
        object-fit: contain;
        width: 48px;
    }

    .text-box{
       
        .title{
            color: #333;
            display: block;
            font-size: 15px;
            font-weight: 700;
            line-height: 20px;
            margin-bottom: 8px;
            text-transform: uppercase;
        }
        .des{
            color: #999;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 0;
        }
    }
   }
}