.header-employers {
  &__user {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 10px;

    &-noti,
    &-chat {
      cursor: pointer;
      background: #59a3f70e;
      padding: 4px;

      width: 32px;
      height: 32px;
      text-align: center;
      border-radius: 50%;
      a {
        color: #000;
        font-size: 18px;
        svg {
          color: #000000;
        }
      }
    }
    &-info {
      cursor: pointer;
      background: #59a3f70e;
      padding: 0 20px;
      border-radius: 9999px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      span {
        font-weight: 500;
      }
      &::after {
        cursor: pointer;
        position: absolute;
        right: 0;
        color: #6b6b6b;
        content: "▼";
        display: block;
        font-size: 12px;
        margin-left: 10px;
        top: 49%;
        transform: translate(-50%, -50%);
        transition: 0.2s ease-in-out;
      }
      &:hover {
        &::after {
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }
    }

    .info-name {
      img {
        border-radius: 50%;
        height: 32px;
        margin: 5px 10px 5px 0;
        max-width: 100%;
        vertical-align: middle;
        width: 32px;
      }
    }
  }
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: #fff;
  &__logo {
    padding: 13px;
    a {
      font-size: 30px;
      font-weight: 600;
      text-decoration: none;
      color: #fda4c8;
      margin-bottom: 0;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 10px;
      background-color: #f6f6f6;
      transform: rotate(-6deg);
    }
  }

  &__search {
    span {
      font-family: "Roboto", sans-serif !important;
    }
    input {
      border-radius: 50px;
      border: none !important;
      padding: 15px;

      :focus {
        border-color: red !important;
      }

      :focus-within {
        background-color: red !important;
      }
    }

    .ant-input-group-addon button {
      border-radius: 0px 50px 50px 0px !important;
      border: none !important;
      padding: 26px !important;

      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
    }
  }

  &__boxUsers {
    a {
      font-family: "Roboto", sans-serif !important;
    }
    &-user {
      font-size: 15px;
      border-radius: 10px;
      &:nth-child(1) {
        border-right: 1px solid #e8e8e8;
      }
      &.login {
        background: #fda4c8;
        padding: 5px;

        cursor: pointer;
        transition: all 1s ease-in-out;
        &:hover {
          background: #f1498c;
        }
        a {
          color: #fff;
        }
      }
    }
  }

  &__employer {
    div {
      font-family: "Roboto", sans-serif !important;
    }

    background: #f5f5f5;

    cursor: pointer;
    color: #000000;
    font-size: 15px;
  }

  .ant-input:focus,
  .ant-input:focus-within {
    box-shadow: none;
  }

  .ant-collapse {
    position: fixed;
    top: 71px;

    z-index: 999;
    left: 0;
    border: none;
    width: 100%;
    padding: 0;
    background: #fff;

    .ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(
        .ant-pagination-size-changer
      ):hover
      .ant-select-selector {
      border: 1px solid #fda4c8;
    }
  }

  .ant-collapse-header {
    display: none !important;
  }

  .ant-collapse-item,
  .ant-collapse-content {
    border: none !important;
  }

  .ant-collapse-content-box {
    border-bottom: 1px solid #ddd;
  }
  .ant-menu-title-content {
    font-size: 15px;
    font-weight: 500;
  }
  .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected,
  .ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover::after {
    border-bottom-color: #fda4c8 !important;
    color: #f1498c !important;
  }

  .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after {
    border-bottom-color: #fda4c8 !important;
  }
}
