.job-saves {
  &__body {
    .search-saves {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;
      .title {
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;

        padding: initial;
        color: rgb(71, 71, 71);
      }
    }
    .info-job-save {
      .item-job {
        position: relative;
        border: 1px solid #e9eaeca8;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        @media only screen and (max-width: 768px) {
         align-items: start;
        }
        .logo-company {
          background-color: #fff;
          border-radius: 8px;
          flex-shrink: 0;
          height: 100px;
          outline: 1px solid #e9eaec;
          padding: 8px;
          width: 100px !important;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .info {
          flex: 1;
          .box-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width: 768px) {
            
              margin-bottom: 2px;
            }
            a {
              color: #212f3f;
              font-size: 17px;
              font-weight: 700;
              line-height: 25px;
              @media only screen and (max-width: 768px) {
                font-size: 13px;
                margin-bottom: 2px;
              }
            }
            div {
              color: #5dcaf9;
              display: block;
              font-size: 15px;
              font-weight: 700;
              line-height: 20px;
              margin-bottom: 0;
              margin-top: 0;
              white-space: nowrap;
              width: -webkit-fit-content;
              width: -moz-fit-content;
              width: fit-content;
              word-break: break-word;
              @media only screen and (max-width: 768px) {
                font-size: 13px;
              }
            }
          }
          .name-company {
            color: #8b8b8b;
            @media only screen and (max-width: 768px) {
              font-size: 13px;
              margin-bottom: 2px;
            }
          }
          .time-apply {
            color: #424e5c;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            @media only screen and (max-width: 768px) {
              font-size: 13px;
              margin-bottom: 2px;
            }
          }
          .box-content2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .view-cv {
              color: #999;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
              @media only screen and (max-width: 768px) {
                font-size: 13px;
                width: 100%;
              }
            }
            .box-icon {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
             
              gap: 10px;
              @media only screen and (max-width: 768px) {
                margin-top: 10px;
                justify-content: center;
                width: 100%;
              }
              .icons {
                cursor: pointer;
                background: #5dcaf913;
                border-radius: 30px;
                color: #5dcaf9;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                margin-left: 8px;
                padding: 4px 8px;
                display: flex;
                align-items: center;
                gap: 5px;
                transition: all 0.3s ease;
                @media only screen and (max-width: 768px) {
                  font-size: 12px;
                  width: 100%;
                 
                  text-align: center;
                  justify-content: center;
                }
                &:hover {
                  background: #5dcaf9;
                  color: #fff;
                }
              }
            }
          }
          .box-content3 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
           
            .status {
              color: #6f7882;
              font-size: 14px;
              font-weight: 400;
              font-weight: 500;
              line-height: 20px;
              @media only screen and (max-width: 768px) {
               font-size: 13px;
              }
              .pending {
                color: #b1b1b1;
              }
              .refuse {
                color: #ac1302;
              }
              .accept {
                color: rgb(93, 202, 249);
              }
            }
            .time {
              color: #6f7882;
              font-size: 14px;
              font-weight: 400;
              text-align: right;
              line-height: 20px;
              @media only screen and (max-width: 768px) {
                font-size: 11px;
               }
            }
          }
        }
        .tag{
          position: absolute;
          bottom: 0;
          left: 0;
         
         
          span{
            background: #5dcaf9;
            color: #fff;
           
            padding: 3px 8px;
            border-radius: 0 5px 0 0 ;
            font-size: 11px;
          }
          .no-seen{
            background: rgb(133, 133, 133);
          
          }
        }
      }
      
    }
    .pagination{
      text-align: center;
    }
  }
}
