.employer{
    &__top{
        &-item {
            cursor: pointer;
            &:hover {
                border-radius: 5px; 
            }
            .image{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 0;
            }
            img {
                border-radius: 10px;
                width: 160px;
                height: 90px;
                object-fit: cover;
                @media only screen and (max-width: 992.9px) {
                    width: 150px;
                    height: 60px;
                }
            }
        }
    }
}
@media (max-width: 992.9px) { /* Màn hình nhỏ */
    .employer__top-item {
        cursor: pointer;
        border: 1px solid #ddd;
        padding: 3px;
        border-radius: 10px;
    }
  }
  