.right-chat{
    &__header{
        h4{
            font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
        }
        div{
            color: #6c757d!important;
            font-size: 80%;
            font-weight: 400;
        }
    }
    &__body{
        .list-cv{
           
            .item-cv{
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 10px;
                background: rgba(211, 211, 211, 0.301);
                padding: 10px;
                border-radius: 10px;
                .avatar{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .info{
                    color: #000;
                    font-size: 13px;
                    .name{
                        font-weight: 600;
                    }
                    .phone{
                        font-size: .2;
                    }
                }
            }
        }
    }
}