.mid-chat-client {
  border-right: 1px solid #ddd;
  height: 965px;
  &__slogan {
    border-bottom: 1px solid #ddd;
    .content {
      font-weight: bold;
      font-size: 0.9375rem;
      span {
        font-weight: 600;
        color: #fda4c8;
      }
    }
  }
  &__header {
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.096);
    .box-info {
      display: flex;
      align-items: center;
      gap: 20px;
      .image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .info {
        .name {
          font-weight: 600;
        }
        .status {
          &.online {
            color: #fda4c8;
          }
          color: #b0b3b8;
        }
      }
    }
  }
  &__body {
    .box-chat-all {
      height: 730px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 1px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #5a5a5a3d;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: transparent;
      }
      .friend {
        display: flex;
        align-items: center;
        gap: 20px;
        .image {
         
          overflow: hidden;
          img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
        }
        .content {
          max-width: 50%;
          background: #63636391;
          font-size: 13px;
          padding: 6px 8px;
          border-radius: 18px;
          display: inline-block;
          color: #fff;
         
        }
      }
      .me {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;
        .content {
          max-width: 50%;
         
          background: #fda4c8;
          font-size: 13px;
          padding: 6px 8px;
          border-radius: 18px;
          color: #fff;
          text-align: left;
        }
      }
    }
  }
  &__footer {
    .input-chat {
      .box-icon {
        display: flex;
        align-items: center;
        gap: 10px;
        svg {
          color: #fda4c8;
          cursor: pointer;
          &:hover {
            color: #fc7fb1;
          }
        }
      }
    }
    .box-input {
      .ant-form {
        align-items: center;
      }
      input {
        padding: 10px;
        width: 100%;
        outline: none;
        border: none;
        background: #ffffff0c;
        border-radius: 999999px;
        border: 1px solid #fda4c8;
      }
      button {
        transition: all 0.3s ease-in-out;
        background: #fda4c8;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 999999px;
        cursor: pointer;
        &:hover {
          background: #fc92bc;
        }
      }
    }
    .box-disable {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: #b0b3b8;
    }
  }
}
