.box-setting-account {
  &__header {
    align-items: center;
    justify-content: space-around;
    gap:10px;
    .profile-avatar {
      height: 84px;
      position: relative;
      width: 84px;
      img {
        max-width: 150px;
        width: 83px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
      }
      span {
        position: absolute;
        top: 0;
        border-radius: 3px;
        padding: 0 3px;
        right: -10px;
        font-size: 10px;
        color: #fff;
        background: gray;
      }
      .change-avatar {
        position: absolute;
        bottom: 0;
        right: 0;
        background: #5dcaf9;
        border-radius: 50%;
        width: 18px;
        height: 18px;

        padding: 4px;
        svg {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          color: #ffffff;
        }
      }
    }
    .profile-info {
      .title {
        color: #212f3f;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.14px;
        line-height: 22px;
      }
      .name {
        color: #212f3f !important;
        font-size: 16px !important;
        font-style: normal;
        font-weight: 600 !important;
        letter-spacing: -0.16px;
        line-height: 24px;
        margin-bottom: 0 !important;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .account-vip {
        span {
          border-radius: 2px;
          color: #fff;
          display: inline-block;
          font-size: 12px;
          padding: 3px 7px;
          background: gray;
        }
      }
      .upgrade-account {
        display: inline-block;
        margin: 8px 0 0;
        a {
          border-radius: 54px;
          color: #212f3f;

          font-size: 12px;
          font-style: normal;

          gap: 6px;
          justify-content: center;
          letter-spacing: 0.15px;
          line-height: 16px;
          padding: 4px 12px 4px 8px;
          background: #f2f4f5 !important;
          display: flex;
          align-items: center;
          gap: 5px;
          svg {
            width: 8px;
            height: 8px;
            background: #000;
            color: #fff;
            padding: 2px;
            font-size: 10px;
            font-weight: 600;
            border-radius: 50%;
          }
          span {
            font-weight: 500;
          }
        }
      }
    }
  }
  &__body {
    .job-waiting {
      .ant-switch-checked[aria-checked="true"] {
        background-color: #5dcaf9;
        & + label {
          color: #5dcaf9;
        }
      }
      .profile-active {
        p {
          color: #56595a;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          letter-spacing: 0.14px;
          line-height: 22px;
          margin-top: 16px;
          margin: 0 0 10px;
        }
        ul {
          list-style: none;
          li {
            display: flex;
            gap: 8px;
            align-items: center;
            margin: 0 0 10px;
            color: #56595a;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.14px;
            line-height: 22px;
            svg {
              background-color: #5dcaf92d;
              color: #5dcaf9;
              padding: 3px;
              border-radius: 50%;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .box-employer {
    &__header {
      h4 {
        font-size: 16px;
        color: #5dcaf9;
        font-weight: 700;
        line-height: 22px;
       
      }
      p {
        color: #7f878f;
        font-size: 14px;
        margin: 0 0 10px;
      }
    }
    &__body{
        .cv-count{
            background-color: #a1a1a1;
            border-radius: 50%;
            display: flex;
           
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;
            color: #fff;
            width: 80px;
            height: 80px;
            &-box{
               
            }
            p{
                font-size: 15px;
                font-weight: 700;
                line-height: 28px;
                font-weight: 400;
            }
            p:first-child{
                font-size: 30px;
                font-weight: 700;
                line-height: 28px;
            }
        }
        .cv-description{
            p{
                color: #7f878f;
                font-size: 14px;
                margin: 0 0 10px;
            }
        }
    }
  }
}


