.job-search-one {
  color: #5d677a !important;
  position: relative;
  &__banner {
    height: 290px;
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
  }
  &__desc {
    h1 {
      color: #172642;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.25rem;
    }
    a {
      font-size: 14.5px;
      color: #5d677a;
      font-weight: 700;
      line-height: 1.25rem;
    }
  }
  &__apply {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto !important;
      padding: 0 30px;
      height: 35px;
      border-radius: 5px;
      color: #fff !important;
      background: #5dcaf9;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      border: none;
      transition: 0.4s all ease-in-out;
      &:hover {
        background: #41b4e6;
      }
    }
  }
}
.deltail-job {
  .ant-tabs-nav-list {
    width: 100% !important;
  }
  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
  .ant-tabs .ant-tabs-tab-btn {
    font-size: 15px !important;
    font-weight: 400;
  }
  div[data-node-key="3"] {
    flex: 1;
    justify-content: flex-end;
    ul {
      list-style: none;
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 0;
      margin: 0;
      li {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        svg {
          color: #5d677a !important;
          font-size: 1rem;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
.info-job {
  color: #5d677a !important;
  &__info-bg {
    background: #f1f9fc;
    .detail-box {
      padding: 15px;
      strong {
        display: block;
        font-size: 15px;
        svg {
          margin-right: 5px;
        }
      }
      p,
      pre {
        display: block;
        margin-bottom: 0.625rem;
        padding-left: 21px;
        font-size: 14px;
        a {
          color: #2f4ba0;
          font-weight: 500;
          &:hover {
            text-decoration: underline !important;
            color: #2f4ba0;
          }
        }
      }
    }
  }
  &__welfare {
  }
  &__detailWorkExperience,
  &__description {
    p {
      margin-bottom: 1rem;
    }
    ul {
      padding: 0;
      margin-left: calc(var(--bs-gutter-x) * 0.7);
    }
    ol {
      margin-left: calc(var(--bs-gutter-x) * 0.7);
    }
  }
  &__detailOther {
    ul {
      padding: 0;
      margin: 0;
      margin-left: 3px;
    }
    .list-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
      &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
    }
    img {
      width: 30px;
      height: auto;
    }
    a {
      margin-left: 10px;
      color: #1f66b3;
    }
  }
  .share-job {
    display: flex;
    align-items: center;
    background: #f1f1f1;
    padding: 7px 15px;
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      li {
        margin-left: 10px;
        a {
          color: inherit;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  &__listTag {
    ul {
      padding-left: 0;
      li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 20px;
        a {
          padding: 8px 10px;
          border-radius: 4px;
          background: #f1f1f1;
          color: inherit;
          font-size: 14.5px;
          text-decoration: none;
          transition: 0.3s all;
        }
      }
    }
  }
  &__heart {
    background: #fff;
    &-content {
      display: flex;
      justify-content: space-between;
      border: 1px solid #5dcaf9;
      border-radius: 5px;
      padding: 10px;
      &-desc {
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin: 0;
          li {
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            a,div {
              cursor: pointer;
              display: flex;
              align-items: center;
              color: inherit;

              margin-right: 20px;
              svg {
                padding-right: 8px;
                line-height: 1.5;
                font-size: 14px;
              }
              span {
                font-size: 13.5px;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
  &__fullBox {
    .box-job-type {
      height: 100%;
      background: rgba(147, 209, 254, 0.3);
      border-radius: 5px;
      padding: 20px 25px;
      h4 {
        color: #333;
        font-weight: 600;
        margin-bottom: 15px;
      }
      ul {
        list-style: none;
        height: 200px;
        overflow-y: auto;
        margin-right: -25px;
        padding: 0;
        margin: 0;
        // Add these styles to change the scrollbar color

        li {
          margin-bottom: 4px;
          a {
            color: #666;
            font-weight: normal;
            font-size: 14.5px;
          }
        }
      }
    }
  }
}
.side-wrapper {
  &__title {
    margin-bottom: 10px;
    margin-left: 7px;
    margin-top: 15px;
    p {
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      color: #5d677a;
    }
  }
  &__list {
    .job-item {
      position: relative;
      .figure {
        padding: 10px 0px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        .image {
          background-color: #fff;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 79px;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex: 0 0 79px;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          padding: 0;
        
       
        
          img{
            border-radius: 5px;
            width: 79px;
            height: 79px;
            object-fit: cover;
          }
        }

        .figcaption {
          flex: 0 0 auto;
          width: 63.333333% !important;
          a {
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            color: #172642;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2;
          }
          .title {
            a {
              font-size: 16px;
            }
          }
          .caption {
            a {
              font-size: 14px;
              line-height: 1.4;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              display: -webkit-box;
              overflow: hidden;
              color: #5d677a;
              text-overflow: ellipsis;
            }
            .salary {
              color: #1ba2db !important;
              font-size: 13px;
              line-height: 1.4;
              font-weight: 600;
            }
            .location {
              padding-left: 0;
              ul {
                display: flex;
                flex-wrap: wrap;
                color: #5d677a;
                li {
                  font-size: 14px;
                  line-height: 1.4;
                  font-weight: 400;
                }
                svg {
                  padding-right: 2px;
                  line-height: 1.5;
                }
              }
            }
          }
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}
.job-sticky {
  z-index: 222;
  clear: both;
  position: sticky;
  bottom: 5px;
}

.tooltip-share {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 10px;
  padding: 10px;
  li {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    svg {
      color: #5d677a !important;
      font-size: 1.2rem;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: #5dcaf9 !important;
      }
    }
  }
}
.model-job-search {
  .box-title {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      color: #263a4d;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      span{
        color: #5dcaf9;
        font-weight: 600;
      }
    }
    svg {
      font-size: 17px;
      color: #5dcaf9;
    }
  }
  .box-upload {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px dashed #5dcaf9;
    .form-upload {
      padding: 0 0 20px 0;
      border-bottom: 1px solid #eef1f5;
      margin-bottom: 10px;
      .box-css {
        max-width: 404px;
        margin: 0 auto;
        text-align: center;
        .headt {
          align-items: center;
          color: #263a4d;
          display: flex;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          gap: 12px;
          justify-content: center;
          letter-spacing: 0.175px;
          line-height: 135%;
          margin-top: auto;
          img {
            height: 28px;
            width: 41.778px;
            object-fit: cover;
          }
          span {
            color: #263a4d;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
          }
        }
        .bodyt {
          span {
            color: #7f878f;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
          }
        }
        .footert {
          .view-file {
            background: #eaf6fc;
            display: inline-flex;
            padding: 5px 18px;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: #25beff;
            span,
            svg {
              font-weight: 500;
              font-size: 13px;
            }
          }
          button {
            border: none;
            align-items: center;
            background: #f2f4f5;
            border-radius: 4px;
            color: #263a4d;
            display: flex;
            flex-direction: row;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            gap: 8px;
            height: 32px;
            justify-content: center;
            letter-spacing: 0.175px;
            line-height: 22px;
            margin: 0 auto;
            padding: 0 24px;
            transition: all 0.3s ease;
            &:hover {
              background: #85daff;
              color: #fff;
            }
          }
        }
      }
    }
    .form-post {
      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          &:first-child {
            color: #5dcaf9;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.14px;
            line-height: 22px;
          }
          &:last-child {
            color: #d83324;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.12px;
            line-height: 16px;
          }
        }
      }
      .formjs {
        .ant-input-outlined:focus{
          border-color: #5dcaf9;
          box-shadow: none;
        }
        label {
          color: #263a4d !important;
          font-size: 14px !important;
          font-style: normal !important;
          font-weight: 400 !important;
        }
        input {
          background: #fff;
          border: 1px solid #eef1f5;
          border-radius: 4px;
          display: flex;

        

          padding: 8px 20px;
        }
      }
      .button-submito {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .ant-form-item {
          margin-bottom: 0;
        }
        span {
          background: #f2f4f5;
          border: none;
          border-radius: 6px;
          border-radius: 4px;
          color: #aaa9a9;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          height: 40px;
          letter-spacing: 0.175px;
          line-height: 22px;
          padding: 8px 16px;
          position: unset;
          width: 60px;
          border-radius: 10px;
          transition: 0.3s all ease-in-out;
          &:hover {
            color: #414141;
          }
        }
        button{
          font-weight: 500;
          border-radius: 10px;
          border: none;
          width: 100%;
        
          padding: 8px 16px;
          background: #8ad6f7;
          color: #fff;
          transition: 0.3s all ease-in-out;
          &:hover{
            background: #5dcaf9;
          }
        }
      }
    }
  }
}
