.dashboar-employer {
  .box-1 {
  }
  .box-head {
    padding: 15px 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 1.1428rem;
    }
    svg {
      cursor: pointer;
      background: #ddd;
      border-radius: 50%;
      padding: 2px 5px;
      font-size: 8px;
      color: #ffffff;
    }
  }
  .title {
    h3 {
      font-size: 1.5rem;
    }
  }
  .banner-slick {
    position: relative;
    .slick-list {
      .slick-track {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .slick-slide {
        margin-left: 15px;
      }

      .slick-box {
        height: 270px;
      }
      img {
        height: 100% !important;
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
      }
      // [tabindex="-1"]{
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      // }
    }
    .button-pre,
    .button-next {
      position: absolute;
      top: 50% !important;
      background: rgba(255, 179, 210, 0.993);
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      cursor: pointer;
      svg {
        font-size: 18px;
      }
    }
    .button-pre {
      left: -10px;
    }
    .button-next {
      right: -20px;
    }
  }
  .box-content {

    .item-box {
      border-radius: 10px;
      background: #fff;
    }
    .box-2 {
     
      .box-head-v {
        padding: 15px 0 !important;
        .user {
          background: linear-gradient(
            105deg,
            rgb(242, 251, 255) -1.43%,
            rgb(231, 239, 245) 100%
          );
          padding: 12px 16px 20px;
          border-radius: 8px;
          &__flex {
            position: relative;
            .user-box {
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 15px;
              .images {
                width: 50px;
                height: 50px;
                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  object-fit: cover;
                }
              }
              .info {
                .name {
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 20px;
                  letter-spacing: -0.16px;
                }
                .code {
                  background-color: rgb(232, 237, 242);
                  color: rgb(0, 0, 0);
                  border-radius: 4px;
                  padding: 2px 8px;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 16px;
                  letter-spacing: 0.12px;
                  display: inline-block;
                }
                .contact-user {
                  margin-top: 4px;
                  display: flex;
                  align-items: flex-start;
                  grid-gap: 12px;
                  gap: 12px;
                  font-size: 12px;
                  .email-user,
                  .phone-user {
                    display: flex;
                    align-items: center;
                    grid-gap: 8px;
                    gap: 8px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0.12px;
                  }
                }
              }
            }
            .user-role {
              position: absolute;
              top: 0;
              right: -16px;
              .image {
                overflow: hidden;
                img {
                
                  border-top-left-radius: 99999px;
                  border-bottom-left-radius: 99999px;
                  width: 100%;
                  height: auto;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
      .box-body-v {
        padding: 15px 0 !important;
        .box-slider {
          .ant-slider .ant-slider-mark-text {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.12px;
            margin-top: 8px;
            padding: 0 8px;
            .role-user {
            }
            .number {
              color: rgb(247, 97, 157);
              font-weight: 600;
            }
          }
          .ant-slider .ant-slider-mark-text-active {
            color: #5a5a5a;
          }
          .ant-slider .ant-slider-handle::after {
            box-shadow: 0 0 0 2px rgb(255 138 185);
          }
          .ant-slider .ant-slider-dot-active {
            border-color: rgb(255 189 215);
          }
        }
      }
      .box-info-v {
        border: 1px solid rgb(248, 176, 205);
        border-radius: 10px;
      
        .info-noti {
          padding: 15px;
          .count__flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .count {
              padding-bottom: 12px;
              display: flex;
              grid-gap: 4px;
              gap: 4px;
              flex-direction: column;
              align-items: flex-start;
              .point {
                color: #5e6368;
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0.15px;
              }
              .images-coint {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                img{
                  width: 20px;
                  height: 20px;
                }
                .count-coint {
                  color: rgb(247, 97, 157);
                  font-size: 20px;
                  font-weight: 700;
                  line-height: 28px;
                  letter-spacing: -0.2px;
                  
                }
              }
            }
          }
          .content__flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content{
              border-top: 1px solid #f5f8fa;
              padding-top: 12px;
              padding-bottom: 12px;
              .desc{
                color: #da4538!important;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: .12px;
              }
              .prew{
                a{
                  color: #007bff;
                text-decoration: none;
                background-color: transparent;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: .12px;
                }
              }
            }
            .button-content{
              text-align: right;
            }
          }
        }
      }
      .box-info-footer{
        padding: 15px;
        .title{
          .dest{
            color: #303235;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: .15px;
          }
          .set-role{
            margin-top: 0.5rem;
            .point-item{
              margin-right: 10px;
              display: inline-flex;
              height: 24px;
              padding: 0 8px;
              gap: 5px;
              font-size: 12px;
              justify-content: center;
              align-items: center;
              border-radius: 12px;
              background: #f5f8fa;
            }
           
          }
        }
      }
    }
    .box-3{
      padding: 15px 0 !important;
      h5{
        font-size: 1.1428rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
      }
      .text-color{
        color: #5e6368!important;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
       
    
      }

    }
  }
  .pd-item-d {
    padding: 0 15px;
  }
}
