.client-login {
  color: #6f7882 !important;
  .title {
    color: #47aad4;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    margin-bottom: 10px;
  }
  .description {
    color: #7f878f;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0;
    text-align: left;
    margin-bottom: 10px;
  }

  &__form {
    .box-helper{
        text-align: center;
        p:first-child{
            font-weight: 600;
        }
    }
    .flast-login {
      color: #6f7882;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 16px;
      margin-top: 16px;
      text-align: center;
    }
    .box-register{
        text-align: center;
    }
    .box-flast-login {
      margin-bottom: 15px;
    .box-icon {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 400;
      height: 40px;
      line-height: 20px;
      margin: 0;
      width: 100%;
      color: #fff;
      svg{
          color: #fff;
      }
    }
    .facebook {
      background: #1877f2;
      border-color: #0d6efd;
    }
    .linkedin {
      background: #0a66c2;
      border-color: #056497;
    }
    .google{
      background: #e73b2f;
      border-color: #e73b2f;
    }
  }
    .button-submit {
      border: none;
      width: 100%;
      padding: 11px;
      border-radius: 5px;
      background-color: #69b5d6;
      color: #fff;
      font-weight: 500;
      &:hover {
        background-color: #47aad4;
      }
    }
    .ant-input-affix-wrapper {
      padding: 11px 11px;
    }
    .ant-input-affix-wrapper > input.ant-input {
      background-color: #fff !important;
      color: #000000 !important;
    }
    svg {
      color: #47aad4;
    }
    .ant-form-item {
      margin-bottom: 10px;
    }
    .ant-form-item
      .ant-form-item-label
      > label.ant-form-item-required:not(
        .ant-form-item-required-mark-optional
      )::before {
      display: none;
    }
    .ant-form-item-label >label, :where(.css-dev-only-do-not-override-dkbvqv).ant-col-24.ant-form-item-label >label, :where(.css-dev-only-do-not-override-dkbvqv).ant-col-xl-24.ant-form-item-label >label , .ant-checkbox+span{
        color: #6f7882;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .ant-input-affix-wrapper{
        border: 1px solid #eee;
    }
  }
  &__image{
    height:100%;
   
    img{
        border-radius: 5px;
        width: 100%;
        height: 100%;
        object-fit: cover;}
  }
}
