.modelMap{
    .button-submit-admin-one{
        display: block;
        width: 100%;
        padding: 5px !important;
        border: none;
        color: #fff;
        background: #5dcaf9;
        border-radius: 5px;
        font-weight: 600;
    }
    .button-submit-admin-one:hover{
        background: #35b9f1;
    }
}