/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  
}
*:not(.no-font) {
  font-family: "Roboto", sans-serif;
}

button:focus-visible {
  outline: none !important;
}
.check-tour {
  position: sticky !important;
  overflow-y: hidden;
  top: 0;
}
body .title-text {
  margin-bottom: 1.875rem;
  color: #182642;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif !important;
}
.cb-section {
  padding: 60px 0 0 0;
}
.cb-section-padding-bottom {
  padding-bottom: 60px;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
a:hover {
  color: #000;
}
.dir-line {
  border-top: 1px solid #4ebeee48;
  border-bottom: 1px solid #4ebeee48;
  padding: 5px 0px;
}
.mb-15 {
  margin-bottom: 15px;
}
.ant-pagination .ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination .ant-pagination-disabled:hover .ant-pagination-item-link {
  display: none;
}
.ant-pagination .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination .ant-pagination-next .ant-pagination-item-link {
  border-radius: 50%;
  background: #f5f5f5;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  color: #3e3e3e !important;
}
.ant-pagination .ant-pagination-item {
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  color: #5d677a !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.ant-pagination .ant-pagination-item:hover,
.ant-pagination .ant-pagination-item:active {
  background-color: #5dcaf9 !important;
  color: #fff !important;
  border: 1px solid #5dcaf9;
}
.ant-tour .ant-tour-inner .ant-tour-footer .ant-tour-buttons .ant-btn {
  background: #5dcaf9;
}
.ant-pagination .ant-pagination-item-active {
  background: #5dcaf9;
  color: #fff;
  font-weight: normal;
  border: 1px solid #5dcaf9;
  color: #fff !important;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #5dcaf9;
  font-size: 25px;
}
.ant-tabs .ant-tabs-tab-btn {
  font-size: 25px;
}
.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar {
  background: #5dcaf9;
}
.button-delete,
.button-edit,
.button-eye {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5px;
  font-size: 25px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 10px;
}
.button-delete-role,
.button-edit-role,
.button-eye-role {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5px;
  font-size: 19px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 10px;
}

.button-delete:hover,
.button-edit:hover,
.button-eye:hover,
.button-delete-role:hover,
.button-edit-role:hover,
.button-eye-role:hover {
  background: #e7e7e7;
}
.content-container{
  padding: 40px;
  margin: auto;
  max-width: 850px
}
body .button-edit,
.button-edit-role {
  color: rgb(0 140 234);
}
body .button-delete,
.button-delete-role {
  color: #cb0707;
}
body .button-eye,
.button-eye-role {
  color: #c05d00;
}

body .button-delete-multi {
  color: #db2222;
  font-size: 20px;
  padding: 3px;
  cursor: pointer;
}
.card-body {
  -ms-flex: 1 1 auto !important;
  -webkit-box-flex: 1 !important;
  flex: 1 1 auto !important;
  min-height: 1px !important;
  padding: 1.25rem !important;
}
.card-header {
  padding: 0.75rem 1.25rem !important;
  margin-bottom: 0 !important;

  background-color: #fafafa !important;
  border-bottom: 1px solid #00b3ff54 !important;
}
.card-form-admin {
  margin: 20px 0;
}
.card-header-job {
  padding: 0.75rem 1.25rem !important;
  margin-bottom: 10px !important;

  background-color: #fafafa !important;
}
.title-header {
  font-size: 17px;
  color: #252525;
  padding: 10px 0;
  line-height: 1.2;
  display: inline;
  padding: 5px;
  border-radius: 5px;
}
.title-header i {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
}
.box-card {
  overflow: hidden;
  border: 1px solid #00b3ff54;
  border-radius: 10px;
}
.button-view-admin {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  color: #fff;
  background: #bd9579;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.button-view-admin:hover {
  background: #cc9974;
}
.button-submit-admin {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  color: #fff;
  background: #5dcaf9;
  border-radius: 5px;
  font-weight: 600;
}
.button-submit-admin:hover {
  background: #35b9f1;
}
body .tox-statusbar {
  display: none !important;
}
.title-main-admin {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.detail-row {
  margin-top: 40px;
}
.detail-row h2 {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #172642;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #35b9f1;
  border-color: #35b9f1;
}
.ant-checkbox-disabled .ant-checkbox-inner {
  background: #f5f5f5;
  border-color: #f5f5f5;
}
.ReactMapGL {
  border-radius: 10px !important;
}
.bg-grey {
  background: #f5f5f5;
}
.box-siderbar {
  border-radius: 8px;
  padding: 20px 20px 16px;
  background-color: #fff;
}
.box-settings-info {
  background: #fff;
  border-radius: 8px;

  font-style: normal;

  padding: 20px 20px 16px;
}
.switch-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.switch-setting label {
  font-weight: 700;
  color: gray;
  font-size: 14px;
  font-style: normal;

  letter-spacing: 0.175px;
  line-height: 22px;
}
.job-waiting-description {
  color: #7f878f;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: 16px;
  margin-bottom: 20px;
}
.button-gnoud {
  border: none;
  padding: 6px 20px;
  background: #fff;
  outline: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #5dcaf9;
}
.button-gnoud a {
  color: #5dcaf9;
}
.bg-grey2 {
  background: #e8e9e9;
}
.box-settings-info__title {
  text-align: center;
  margin-bottom: 15px !important;
}
.box-settings-info__title h1 {
  font-size: 25px !important;
  font-weight: 600;
  color: #666;
}
.box-settings-info__title2 {
  text-align: left;
  margin-bottom: 15px !important;
}
.box-settings-info__title2 h1 {
  font-size: 19px !important;
  font-weight: 700;
  color: #212f3f;
}
.box-settings-info__title2 p {
  color: rgb(250, 23, 23);
  margin-top: 8px;
  font-weight: 500;
}
.box-settings-info__image {
  margin-bottom: 8px;
}
.box-settings-info__image img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
  height: auto;
  width: 100%;
}
.ant-input-outlined:hover,
.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer):hover
  .ant-select-selector , 
 .ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: #6ccbf3 !important;
  box-shadow: none !important;
}

.cout__job{
  border-bottom: 1px solid #eee;

  padding: 20px 16px 20px;;
}
.cout__job span{
  color: #6ccbf3;
  font-weight: 600;
}
.job-sort-news{
  padding: 20px 16px;
  border-bottom: 1px solid #eee;

}
.job-sort-news h4{
  color: #999;
  font-size: 14px;
  margin-right: 30px;
  display: inline-block;
}
input[type="radio"] , .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background: #6ccbf3 !important;    
  border-color: #6ccbf3;
}
.button-all{

  background: #6ccbf3;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-align: center;

  outline: none !important;
  padding: 6px 16px;
  outline: none;

}
.button-all:hover {
  background: #3dbff7;

}
.button-all:active {
  background: #8bd2f0;
}
.title-span-webkit{
         
         
        
  color: #172642;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.sticky-add{
  position: sticky;
  top: 51px;
 
}
.sticky-item-ok{
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
}
.sitcky-item{
  position: relative;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out;
  height: 100vh;
}
.scroll-css::-webkit-scrollbar{
  width: 5px !important;
  background: none !important;
}
.scroll-css::-webkit-scrollbar-thumb {
  background: #ff0000 !important;
  border-radius: 5px !important;
}
body::-webkit-scrollbar,
body::-webkit-scrollbar-horizontal {
    width: 3px;
    height: 3px;
    background: none;
}

body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-horizontal-thumb {
    background: #b3e3f8;
    border-radius: 50px;
}
.page-content{
  padding: 20px 20px 80px;
  max-width: 1296px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.ml-10{
  margin-left: 10px;
}
.button-employer-bold{
  display: flex;
  height: 32px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  border-radius: 4px;
  background: rgb(247, 97, 157);
  color: #fff;
 
}
.button-employer-bold:hover{
  color: #fff;
}
.button-employer-normal{
  padding: 6px 16px;
 
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #ffeaf3;
  min-width: 124px;
  color: rgb(247, 97, 157);
  cursor: pointer;
}
.button-employer-normal:hover{
  color: rgb(247, 97, 157);
}
.aplayer {
  border-radius: 10px !important;
  overflow: hidden;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played{
  background: rgb(250, 167, 200) !important;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb{
  background:rgb(250, 167, 200) !important;
}
.title-employer-setting{
  font-size: 1.1rem !important;
 
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.title-employer-setting h3{
  font-weight: 500 !important;
}

@keyframes typing {
  0% { content: '...'; }
  25% { content: '..'; }
  50% { content: '.'; }
  75% { content: '..'; }
  100% { content: '...'; }
}

.typing-animation {
  animation-name: typing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}